.about-text{
    width: 400px;
    color: white;
    padding-top: 100px;
    padding-left: 250px;
    font-size: 25px;
    display: flex;
    position: absolute;
}
.myimg{
    display: flex;
    position: absolute;
    padding-top: 150px;
    padding-left: 750px;
    width:400px;
    height: 200px;
}
.box-screen{
    background-color: black;
}
